
body{
	background: #f3f5fc;
}

label,
textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}
textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

label {
    display: block;
    margin-bottom: 10px;
}

/*****************************IDs********************************************/
#confFooter{
background: #aab2d5;
width: 990;
height: 80px;
margin-right: 0;
margin-left: 0;
text-align: center;
text-decoration: none;

}
#confInputLeft{
	
	margin-left: 100px;
}

#confInputRight{
	margin-top: 100px;
	margin-left: 100px;

}

/****************************CLASSES******************************************/
.textInput{
	width: 350px;
	height: 400px;
	border: 1px #7B61FF;
    box-sizing: border-box;
    border-radius: 5px;
	
}


.btnConfig{

/* Button */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
position: static;
width: 180px;
height:45px;
left: 0px;
top: 0px;

/* Dark blue/dark-blue-300 */

background: #0A3871;
border-radius: 24px;

/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;
}

.btnConfig: hover{

background: #E5E5E5;
border-radius: 24px;


}

.logo{
	width: 70px;
	height:70px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px #7B61FF;
	position: relative;
}


